body {
    margin: 0;
    background-color: #111827;
    color: white;
}

#menu {
    width: 200px;
    background-color: #293341;
    padding: 10px;
}

#select {
    background-color: grey;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid white;
}

#menu ul {
    padding: 0;
    margin: 0;
}

#menu li {
    list-style-type: none;
}

.hidden {
    display: none;
}

.item:hover {
    background-color: gray;
}